html {
  font-family: system-ui;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.options {
  display: flex;
  gap: 0.5rem;
  padding: 0;
}

h1,
h3 {
  text-align: center;
}
